.container {
    display: flex;
    flex-direction: row;
}

.leftcol {
    width: 80px;
    margin-left: 1em;
}

.logo img {
    display: block;
    width: 72px;
    height: 72px;
    padding: 5px;
    margin-top: auto;
}

input[type="range"] {
    -webkit-appearance: slider-vertical;
}

input[type="color"] {
    width: 40px;
    height: 40px;
    border: 1px solid #d1d1d1;
    border-radius: 40px;
    background: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 40px;
}

.btn-icon {
    border: none;
    background-color: white;
}

.icon:hover {
    color: #0066ff;
}


.tools {
    display: inline-flex;
    gap: 2rem;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 5rem;
    filter: drop-shadow(4px 2px 3px rgba(0, 0, 0, 0.25));
    z-index: 0;
}


/* MOBILE VIEW  */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        margin: auto;
    }
    
    .leftcol {
        margin: 0;
    }

    .tools {
        display: inline-flex;
        flex-direction: row;
        width: 100vw;
        gap: 0;
        padding: 1em;
        justify-content: space-evenly;
    }
    
   

    input[type="range"] {
        -webkit-appearance: slider-horizontal;
        width:100px;
    }
    
    input[type="color"] {
        width: 30px;
        height: 30px;
    }
    
    .logo {
        display: none;
    }
}
